*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  overflow-y: hidden;
  height: 100vh;
}


.main-section { 
  height: 100vh;
}

:root {
  --chakra-fontSizes-lg: '18px';
  --chakra-colors-gray-100: '#fafafa';
  --chakra-colors-gray-200: '#f7f7f7';
}

.pac-container {
  z-index: 9999;
}

.pac-container:after {
  /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */

  background-image: none !important;
  height: 0px;
}

.pac-container .pac-item {
  height: 50px;
  padding: 12px;
}

